/* boton flotante*/
.flotante {
    display:scroll;
        position:fixed;
        bottom:50px;
        right:20px;

        &flotante a {
            font-size:xx-large ;
                
}        
       
}

.flotante-flecha {
    @extend  .flotante;
    &a:hover {
        color: rgb(52, 111, 174);
    }
}




