/* Secion de contacto */
.wrapper {
    text-align: center;
}

.btn {
    width: 35%;
    margin-top: 10px;
    background-color: rgb(41, 80, 138);
}
#descripcionConsulta {
    background-color:rgb(230, 218, 218) ;
    
}

.consulta {
    margin-top: 15px;
}
